<mat-toolbar [ngClass]="{'scrolled': isScrolled}" class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <img src="/assets/images/logo.png" alt="Logo" class="navbar-logo" />
      <span class="navbar-title">Disiplina Muna</span>
    </div>
    <nav class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-button routerLink="/blog" routerLinkActive="active">Blog</a>
    </nav>
  </div>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>